body{
    font-family: 'Roboto', sans-serif;
    background-color: #7aaac2da;
}

/* navbar css starts here  */
.bg-light{
    background-color: #bcd3d7!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #292a2b!important;
}
tbody{
    font-family: 'Sansita Swashed', cursive;
}

.nav-link{
    color: #3a3e42!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
    font-family: 'Bree Serif', serif;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(78, 153, 223)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(94, 98, 134)!important;
}